.pdp {
  width: 100%;
  background-color: white;
  padding: 2rem 0;

  &__container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__section {
    display: block;
    width: 100%;

    &--reviews {
      border-top: 1px solid lightgray;
      padding-top: 2rem;
    }
  }
}
