<section class="product-tile">
  <div>
    <div class="product-tile__clickable-area" [routerLink]="['/products', product.id]">
      <div class="product-tile__image-container">
        <img [ngSrc]="product.image" alt="Product image" class="product-tile__image" fill/>
      </div>
      <span class="product-tile__title">{{ product.title }}</span>
    </div>
    <div class="product-tile__buttons-container">
      <add-to-cart-button [productId]="product.id" [stock]="product.stock" [cartButtonPressed]="false"/>
      <button class="base-btn" [routerLink]="['/products/edit', product.id]">Edit</button>
      <button class="base-btn" (click)="delete(product.id)">Delete</button>
    </div>
    <div class="product-tile__info">
      <rating [rating]="product.rating.rate"/>
      <span class="product-tile__info__price">{{ product.price | currencyFormat }}</span>
    </div>
  </div>
</section>
